@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./preloader.css);

.card{
    @apply flex relative flex-col w-[200px] items-center hover:scale-[1.1] hover:duration-200 ease-in bg-slate-800 text-white gap-1 rounded-b-md hover:shadow-xl hover:shadow-indigo-200/10 hover:z-10 border-x border-yellow-200/10 border-b-2
}


.card:hover>img{
 transform: scale(1.2);
 transition: all .4s ease-in-out;
}

.card__title{
    @apply w-full text-center bg-yellow-400/90 drop-shadow-md shadow-gray-600/20 font-bold text-black/80
}

.small_title{
    font-size: 12px;
}